---
import Page from './Page.astro'
import {isoDate, shortDate} from '../lib/utils'

const {created, n01se, updated} = Astro.props
---

<Page {...Astro.props}>
  <Fragment slot="post-meta">
    <time datetime={isoDate(created)} itemprop="datePublished">
      {shortDate(created)}
    </time>
    {
      // prettier-ignore
      updated && <>{' '}(updated: <time datetime={isoDate(updated)} itemprop="dateModified">{shortDate(updated)}</time>)</>
    }
  </Fragment>
  <article itemscope itemtype="https://schema.org/CreativeWork">
    <slot />
    {
      n01se && (
        <p>
          <em>
            Originally posted on the <a href={n01se}>n01se blog</a>.
          </em>
        </p>
      )
    }
  </article>
</Page>
